@using Woben.Web.Helpers;

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Karta,Minimalist Responsive Email Template</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <style type="text/css"> html{width:100%}::-moz-selection{background:#FF7800;color:#fff}::selection{background:#FF7800;color:#fff}body{background-color:#f5f7fa;margin:0;padding:0}.ExternalClass,.ReadMsgBody{width:100%;background-color:#f5f7fa}a{color:#FF7800;text-decoration:none;font-weight:300;font-style:normal}a:hover{color:#adb2bb;text-decoration:underline;font-weight:300;font-style:normal}div,p{margin:0!important}table{border-collapse:collapse}@@media only screen and (max-width:640px){table table,td[class=full_width]{width:100%!important}div[class=div_scale],table[class=table_scale],td[class=td_scale]{width:440px!important;margin:0 auto!important}img[class=img_scale]{width:100%!important;height:auto!important}table[class=spacer],td[class=spacer]{display:none!important}td[class=center]{text-align:center!important}table[class=full]{width:400px!important;margin-left:20px!important;margin-right:20px!important}img[class=divider]{width:400px!important;height:1px!important}}@@media only screen and (max-width:479px){table table,td[class=full_width]{width:100%!important}div[class=div_scale],table[class=table_scale],td[class=td_scale]{width:280px!important;margin:0 auto!important}img[class=img_scale]{width:100%!important;height:auto!important}table[class=spacer],td[class=spacer]{display:none!important}td[class=center]{text-align:center!important}table[class=full]{width:240px!important;margin-left:20px!important;margin-right:20px!important}img[class=divider]{width:240px!important;height:1px!important}}</style>
</head>
<body bgcolor="#f5f7fa">
    @RenderBody()
</body>
</html>