@model Woben.Domain.Model.Message

@{
    Layout = "OneColumn_Layout.cshtml";
}

<repeater>
    <layout label="Text only">
        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w580" width="580">
                        <p align="left" class="article-title"><singleline label="Title">Has recibido un nuevo mensaje de @Model.Name</singleline></p>
                        <div align="left" class="article-content">
                            <multiline label="Description">                                
                                <p>Teléfono : @Model.PhoneNumber</p>
                                <p style="font-size: 15px; color: #878787; line-height: 22px; font-weight: lighter; margin-bottom: 35px;">
                                    @Model.Text
                                </p>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr><td class="w580" width="580" height="10"></td></tr>
            </tbody>
        </table>
    </layout>
</repeater>